<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>The Cat Box</title>
  <meta name="description" content="">
  <meta name="author" content="Matthew Tole">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="h-screen w-screen flex flex-col lg:flex-row">
  {{content | safe}}
</body>
</html>
