---
layout: layouts/base.njk
---

<div class="flex-1 bg-blue-200 flex flex-col justify-center items-center bg-water">
  <h1 class="text-6xl text-blue-700 font-bold font-righteous">WATER</h1>
  <h2 class="text-2xl text-blue-700">{% timeAgo variables.water.lastPressed %}</h2>
</div>

<div class="flex-1 bg-red-200 flex flex-col justify-center items-center bg-poop">
  <h1 class="text-6xl text-red-700 font-bold font-righteous">POOP</h1>
  <h2 class="text-2xl text-red-700">{% timeAgo variables.poop.lastPressed %}</h2>
</div>

<div
  class="flex-1 bg-green-200 flex flex-col justify-center items-center bg-food"
>
  <h1 class="text-6xl text-green-700 font-bold font-righteous">FOOD</h1>
  <h2 class="text-2xl text-green-700">{% timeAgo variables.food.lastPressed %}</h2>
</div>
